<div class="tint-overlay" style="opacity: 0.3;"></div>
<div class="wrapper clearfix">
  <div class="description-wrapper clearfix">
    <div class="content description clearfix"><h2 class="ng-pristine ng-untouched ng-valid"
                                                  editable-text-basic="" ng-model="section.title"
                                                  placeholder="Education">Education</h2>
      <p class="ng-pristine ng-untouched ng-valid" editable-text-basic="" ng-model="section.text"
         placeholder="See where I spent time studying and gained early knowledge to prepare for my professional life.">
        See where I spent time studying and gained early knowledge to prepare for my professional
        life.</p></div>
  </div>
  <div class="main-wrapper clearfix">
    <div class="main-aligner">
      <div class="main-content">
        <slider class="slider list content multiple-listings" data-max-items="1">
          <slider-content>
            <slider-content-wrapper>
              <slider-item class="">
                <div class="listing-wrapper ng-pristine ng-untouched ng-valid ng-isolate-scope"
                     editable-list-item=""
                     ng-model="section.values[$parent.$index + $index]" section="section">
                  <div class="listing clearfix">
                    <div class="image-wrapper">
                      <div class="image">
                        <editable-image class="ng-pristine ng-untouched ng-valid"
                                        ng-model="section.values[$parent.$index + $index].image"
                                        placeholder="img/education.png">
                          <img class="placeholder"
                               src="img/education.png"/>
                        </editable-image>
                      </div>
                    </div>
                    <div class="text-wrapper">
                      <div class="text"><h4 class="time"><strong
                              class="ng-pristine ng-untouched ng-valid"
                              editable-text=""
                              ng-model="section.values[$parent.$index + $index].start.year"
                              placeholder="Start">2015</strong> – <strong
                              class="ng-pristine ng-untouched ng-valid"
                              editable-text=""
                              ng-model="section.values[$parent.$index + $index].end.year"
                              placeholder="Current">2015</strong></h4>
                        <h3 class="school ng-pristine ng-untouched ng-valid"
                            editable-text=""
                            ng-model="section.values[$parent.$index + $index].shool"
                            placeholder="University or school name">Kahkeshan</h3>
                        <h3 class="study small ng-pristine ng-untouched ng-valid"
                            editable-text=""
                            ng-model="section.values[$parent.$index + $index].fieldOfStudy"
                            placeholder="Field of Study">Microsoft Certificated
                          Professional</h3>
                        <p class="education-description small ng-pristine ng-untouched ng-valid"
                           editable-text=""
                           ng-model="section.values[$parent.$index + $index].notes"
                           placeholder="Describe your experience at this college during your studies. Say what you accomplished, what you're proud of and what you've been known for there. You can even replace an icon with a logo of the university.">
                          Microsoft Certified Solutions Associate (MCSA) 2012</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="listing-wrapper ng-pristine ng-untouched ng-valid ng-isolate-scope"
                     editable-list-item=""
                     ng-model="section.values[$parent.$index + $index]" section="section">
                  <div class="listing clearfix">
                    <div class="image-wrapper">
                      <div class="image">
                        <editable-image class="ng-pristine ng-untouched ng-valid"
                                        ng-model="section.values[$parent.$index + $index].image"
                                        placeholder="img/education.png">
                          <img class="placeholder"
                               src="img/education.png"/>
                        </editable-image>
                      </div>
                    </div>
                    <div class="text-wrapper">
                      <div class="text"><h4 class="time"><strong
                              class="ng-pristine ng-untouched ng-valid"
                              editable-text=""
                              ng-model="section.values[$parent.$index + $index].start.year"
                              placeholder="Start">2014</strong> – <strong
                              class="ng-pristine ng-untouched ng-valid"
                              editable-text=""
                              ng-model="section.values[$parent.$index + $index].end.year"
                              placeholder="Current">2014</strong></h4>
                        <h3 class="school ng-pristine ng-untouched ng-valid"
                            editable-text=""
                            ng-model="section.values[$parent.$index + $index].shool"
                            placeholder="University or school name">CyberTech</h3>
                        <h3 class="study small ng-pristine ng-untouched ng-valid"
                            editable-text=""
                            ng-model="section.values[$parent.$index + $index].fieldOfStudy"
                            placeholder="Field of Study">CompTIA Network+</h3>
                        <p class="education-description small ng-pristine ng-untouched ng-valid"
                           editable-text=""
                           ng-model="section.values[$parent.$index + $index].notes"
                           placeholder="Describe your experience at this college during your studies. Say what you accomplished, what you're proud of and what you've been known for there. You can even replace an icon with a logo of the university."></p>
                      </div>
                    </div>
                  </div>
                </div>
              </slider-item>
              <slider-item class="">
                <div class="listing-wrapper ng-pristine ng-untouched ng-valid ng-isolate-scope"
                     editable-list-item=""
                     ng-model="section.values[$parent.$index + $index]" section="section">
                  <div class="listing clearfix">
                    <div class="image-wrapper">
                      <div class="image">
                        <editable-image class="ng-pristine ng-untouched ng-valid"
                                        ng-model="section.values[$parent.$index + $index].image"
                                        placeholder="img/education.png">
                          <img class="placeholder"
                               src="img/education.png"/>
                        </editable-image>
                      </div>
                    </div>
                    <div class="text-wrapper">
                      <div class="text"><h4 class="time"><strong
                              class="ng-pristine ng-untouched ng-valid"
                              editable-text=""
                              ng-model="section.values[$parent.$index + $index].start.year"
                              placeholder="Start">2011</strong> – <strong
                              class="ng-pristine ng-untouched ng-valid"
                              editable-text=""
                              ng-model="section.values[$parent.$index + $index].end.year"
                              placeholder="Current">2013</strong></h4>
                        <h3 class="school ng-pristine ng-untouched ng-valid"
                            editable-text=""
                            ng-model="section.values[$parent.$index + $index].shool"
                            placeholder="University or school name">Goethe
                          Institut</h3>
                        <h3 class="study small ng-pristine ng-untouched ng-valid"
                            editable-text=""
                            ng-model="section.values[$parent.$index + $index].fieldOfStudy"
                            placeholder="Field of Study">Deutsche</h3>
                        <p class="education-description small ng-pristine ng-untouched ng-valid"
                           editable-text=""
                           ng-model="section.values[$parent.$index + $index].notes"
                           placeholder="Describe your experience at this college during your studies. Say what you accomplished, what you're proud of and what you've been known for there. You can even replace an icon with a logo of the university."></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="listing-wrapper ng-pristine ng-untouched ng-valid ng-isolate-scope"
                     editable-list-item=""
                     ng-model="section.values[$parent.$index + $index]" section="section">
                  <div class="listing clearfix">
                    <div class="image-wrapper">
                      <div class="image">
                        <editable-image class="ng-pristine ng-untouched ng-valid"
                                        ng-model="section.values[$parent.$index + $index].image"
                                        placeholder="img/education.png">
                          <img class="placeholder"
                               src="img/education.png"/>
                        </editable-image>
                      </div>
                    </div>
                    <div class="text-wrapper">
                      <div class="text"><h4 class="time"><strong
                              class="ng-pristine ng-untouched ng-valid"
                              editable-text=""
                              ng-model="section.values[$parent.$index + $index].start.year"
                              placeholder="Start">2005</strong> – <strong
                              class="ng-pristine ng-untouched ng-valid"
                              editable-text=""
                              ng-model="section.values[$parent.$index + $index].end.year"
                              placeholder="Current">2007</strong></h4>
                        <h3 class="school ng-pristine ng-untouched ng-valid"
                            editable-text=""
                            ng-model="section.values[$parent.$index + $index].shool"
                            placeholder="University or school name">Private
                          Industrial High school</h3>
                        <h3 class="study small ng-pristine ng-untouched ng-valid"
                            editable-text=""
                            ng-model="section.values[$parent.$index + $index].fieldOfStudy"
                            placeholder="Field of Study">Web Development, Web
                          Design, ICDL</h3>
                        <p class="education-description small ng-pristine ng-untouched ng-valid"
                           editable-text=""
                           ng-model="section.values[$parent.$index + $index].notes"
                           placeholder="Describe your experience at this college during your studies. Say what you accomplished, what you're proud of and what you've been known for there. You can even replace an icon with a logo of the university."></p>
                      </div>
                    </div>
                  </div>
                </div>
              </slider-item>
              <slider-item class="">
                <div class="listing-wrapper ng-pristine ng-untouched ng-valid ng-isolate-scope"
                     editable-list-item=""
                     ng-model="section.values[$parent.$index + $index]" section="section">
                  <div class="listing clearfix">
                    <div class="image-wrapper">
                      <div class="image">
                        <editable-image class="ng-pristine ng-untouched ng-valid"
                                        ng-model="section.values[$parent.$index + $index].image"
                                        placeholder="img/education.png">
                          <img class="placeholder"
                               src="img/education.png"/>
                        </editable-image>
                      </div>
                    </div>
                    <div class="text-wrapper">
                      <div class="text"><h4 class="time"><strong
                              class="ng-pristine ng-untouched ng-valid"
                              editable-text=""
                              ng-model="section.values[$parent.$index + $index].start.year"
                              placeholder="Start">2015</strong> – <strong
                              class="ng-pristine ng-untouched ng-valid"
                              editable-text=""
                              ng-model="section.values[$parent.$index + $index].end.year"
                              placeholder="Current">2015</strong></h4>
                        <h3 class="school ng-pristine ng-untouched ng-valid"
                            editable-text=""
                            ng-model="section.values[$parent.$index + $index].shool"
                            placeholder="University or school name">Kahkeshan</h3>
                        <h3 class="study small ng-pristine ng-untouched ng-valid"
                            editable-text=""
                            ng-model="section.values[$parent.$index + $index].fieldOfStudy"
                            placeholder="Field of Study">Cisco CCNA</h3>
                        <p class="education-description small ng-pristine ng-untouched ng-valid"
                           editable-text=""
                           ng-model="section.values[$parent.$index + $index].notes"
                           placeholder="Describe your experience at this college during your studies. Say what you accomplished, what you're proud of and what you've been known for there. You can even replace an icon with a logo of the university.">
                          CCNA Routing and Switching certification 200-120</p>
                      </div>
                    </div>
                  </div>
                </div>
              </slider-item>
            </slider-content-wrapper>
          </slider-content>
          <div slider-buttons="">
            <button class="slick-prev" slider-prev="">Previous</button>
            <button class="slick-next" slider-next="">Next</button>
          </div>
        </slider>
      </div>
    </div>
  </div>
</div>