<div class="content main clearfix">
    <div class="text-wrapper">
        <div class="text"><h1 class="title ng-pristine ng-untouched ng-valid" editable-text-basic=""
                              ng-model="section.values.name" placeholder="Your name">Omid Farhang</h1>
            <p class="headline ng-pristine ng-untouched ng-valid" editable-text-basic=""
               ng-model="section.values.headline" placeholder="Add your title or professional tagline">
                Front-end Web Developer at ModernPal</p>
            <div class="social-networks"><a class="ng-pristine ng-untouched ng-valid twitter"
                                            editable-social-network=""
                                            href="https://twitter.com/omidfarhangfa"
                                            ng-model="socialNetwork"
                                            social-networks="editableSite.site.social_networks"
                                            style='background-image: url("img/social-networks/twitter-b.png");'
                                            target="_blank"></a><a
                    class="ng-pristine ng-untouched ng-valid googleplus" editable-social-network=""
                    href="https://google.com/+omidfarhangcom" ng-model="socialNetwork"
                    social-networks="editableSite.site.social_networks"
                    style='background-image: url("img/social-networks/googleplus-b.png");'
                    target="_blank"></a><a class="ng-pristine ng-untouched ng-valid linkedin"
                                           editable-social-network=""
                                           href="https://www.linkedin.com/in/omidfarhang"
                                           ng-model="socialNetwork"
                                           social-networks="editableSite.site.social_networks"
                                           style='background-image: url("img/social-networks/linkedin-b.png");'
                                           target="_blank"></a><a
                    class="ng-pristine ng-untouched ng-valid facebook" editable-social-network=""
                    href="https://www.facebook.com/omidfarhang" ng-model="socialNetwork"
                    social-networks="editableSite.site.social_networks"
                    style='background-image: url("img/social-networks/facebook-b.png");'
                    target="_blank"></a><a class="ng-pristine ng-untouched ng-valid youtube"
                                           editable-social-network=""
                                           href="http://youtube.com/boelectronic"
                                           ng-model="socialNetwork"
                                           social-networks="editableSite.site.social_networks"
                                           style='background-image: url("img/social-networks/youtube-b.png");'
                                           target="_blank"></a><a
                    class="ng-pristine ng-untouched ng-valid github" editable-social-network=""
                    href="https://github.com/omidfarhang" ng-model="socialNetwork"
                    social-networks="editableSite.site.social_networks"
                    style='background-image: url("img/social-networks/github-b.png");'
                    target="_blank"></a><a class="ng-pristine ng-untouched ng-valid behance"
                                           editable-social-network=""
                                           href="https://www.behance.net/omidfarhang"
                                           ng-model="socialNetwork"
                                           social-networks="editableSite.site.social_networks"
                                           style='background-image: url("img/social-networks/behance-b.png");'
                                           target="_blank"></a><a
                    class="ng-pristine ng-untouched ng-valid instagram" editable-social-network=""
                    href="http://instagram.com/omidfarhang" ng-model="socialNetwork"
                    social-networks="editableSite.site.social_networks"
                    style='background-image: url("img/social-networks/instagram-b.png");'
                    target="_blank"></a><a class="ng-pristine ng-untouched ng-valid tumblr"
                                           editable-social-network=""
                                           href="http://omidfarhang.tumblr.com/"
                                           ng-model="socialNetwork"
                                           social-networks="editableSite.site.social_networks"
                                           style='background-image: url("img/social-networks/tumblr-b.png");'
                                           target="_blank"></a><a
                    class="ng-pristine ng-untouched ng-valid vimeo" editable-social-network=""
                    href="http://vimeo.com/omidfarhang" ng-model="socialNetwork"
                    social-networks="editableSite.site.social_networks"
                    style='background-image: url("img/social-networks/vimeo-b.png");'
                    target="_blank"></a><a class="ng-pristine ng-untouched ng-valid flickr"
                                           editable-social-network=""
                                           href="http://flickr.com/omidfarhang" ng-model="socialNetwork"
                                           social-networks="editableSite.site.social_networks"
                                           style='background-image: url("img/social-networks/flickr-b.png");'
                                           target="_blank"></a><a
                    class="ng-pristine ng-untouched ng-valid dribbble" editable-social-network=""
                    href="http://dribbble.com/omidfarhang" ng-model="socialNetwork"
                    social-networks="editableSite.site.social_networks"
                    style='background-image: url("img/social-networks/dribbble-b.png");'
                    target="_blank"></a></div>
        </div>
    </div>
</div>